<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <AspNetCoreHostingModel>InProcess</AspNetCoreHostingModel>
  <AspNetCoreModuleName>AspNetCoreModuleV2</AspNetCoreModuleName>
  <IsTransformWebConfigDisabled>true</IsTransformWebConfigDisabled>
  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments="Dash.NET.dll" stdoutLogEnabled="false" stdoutLogFile="logs/stdout" />
  </system.webServer>
</configuration>